/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "ArialRegular"; */
@font-face {
    font-family: "ArialRegular";
    src: url("../fonts/ArialRegular/ArialRegular.eot");
    src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialRegular/ArialRegular.woff") format("woff"),
    url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialBold"; */
@font-face {
    font-family: "ArialBold";
    src: url("../fonts/ArialBold/ArialBold.eot");
    src: url("../fonts/ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialBold/ArialBold.woff") format("woff"),
    url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialItalic"; */
@font-face {
    font-family: "ArialItalic";
    src: url("../fonts/ArialItalic/ArialItalic.eot");
    src: url("../fonts/ArialItalic/ArialItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialItalic/ArialItalic.woff") format("woff"),
    url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialBlack"; */
@font-face {
    font-family: "ArialBlack";
    src: url("../fonts/ArialBlack/ArialBlack.eot");
    src: url("../fonts/ArialBlack/ArialBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialBlack/ArialBlack.woff") format("woff"),
    url("../fonts/ArialBlack/ArialBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialBoldItalic"; */
@font-face {
    font-family: "ArialBoldItalic";
    src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot");
    src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialBoldItalic/ArialBoldItalic.woff") format("woff"),
    url("../fonts/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.menupage {
  margin-top: 50px;
}
.img{
  border: 2px solid liteblue;
}


.menu{
  text-align: center;
  font-family: arialbold;
  font-size: 36;

  /*margin-bottom: 20px;
*/}

.menu 1{
  text-align: center;

}
.menu2{
  font-family: arialregular;
  font-size: 14;
}

.menu3{
  font-family: MyriadProBold;
  font-size: 18;
}
.menu4{
  font-family: MyriadProregular;
  font-size: 14;
  text-indent: 2em;
}

.menu4
ul{
  font-family: MyriadProregular;
  font-size: 14;
}

.all{
  margin-left: 262px;
  margin-right: 262px;
}
